@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap');
*{
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button{
  border: none;
  background: #ffe9dc;
  padding: 0.625rem;
  margin: 0.3125rem 0.625rem;
  border-radius: 8px;
  color: #c99789;
  text-transform: uppercase;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
button:hover,
button:focus{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
button:active,
button:focus{
  color: #ffe9dc;
  background: #c99789;
}
h2{
  color: 	#c99789;
  text-transform: capitalize;
  padding: 15px 5px;
}
.home{
  text-align: center;
}
.blog{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.9375rem;
  margin: 1.625rem 1.4375rem;
  display: inline-block;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.blog:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}